*, ::after, ::before {
    box-sizing: border-box;
}

main {
    display: block;
    background-color: rgb(219, 219, 218);
}

.imgLogo {
    width: 100%;
    height: 100%;
    margin: auto;
    fill: var(--bs-secondary-color);
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.row {
    display: flex;
    align-items: row;
    margin-top: 3%;
}
.linha01{
    width: 10%;
}

.titulo{
    width: 15%;
}

.linha02{
    width: 75%;
}
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.fw-normal {
    font-weight: 400!important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}


.col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.rowTeacherCircle{
    margin-top: 2%;
}

.imgCircle{
    clip-path: circle();
    width: 90%;
}

.imgCursos {
    width: 100%;
}

#contato{
    display: flex;
    justify-content: center;
    align-items: center;
}